<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory=".phpunit.cache"
    colors="true"
>
    <!-- convertDeprecationsToExceptions is required for MiddlewareTest::testWarningLoggerCreatesLog -->
    <php>
        <!-- Configuration to enable functional tests -->
        <env name="FUNC_ENABLED" value="false" />
        <env name="FUNC_API_URI" value="https://mxm.xtremepush.com/" />
        <env name="FUNC_API_USERNAME" value="clientId" />
        <env name="FUNC_API_PASSWORD" value="clientSecret" />
    </php>

    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
